
.fondo{
    background-image: url('../../../assets/fondo2.jpeg');
    background-repeat: no-repeat;
    overflow-x: auto;
    /* margin-top: 20px; */
    background-size: 100% 100%;
}

.withTable {
    background-color: white;
    background-size: cover; /* O el tamaño deseado para adaptar la imagen */
    background-position: center center;
  }