<footer class="flex-col footer">

    <section class="main-footer flex-col">

        <div class="footer-contacto footer_item item_contact flex-row">
            <div class="item_icon">
                <p class="item_footer_option">Contactos</p>
                <a href="#contactos" class="footer-icono-menu-flecha" onclick="toggleMenu('contactos')"><i class="fas fa-chevron-down" ></i></a>
            </div>
            <!-- <i class="fas fa-chevron-down" class="footer-icono-menu-flecha"></i> -->
            <div class="lista-footer" id="contactos">
                <ul>
                    <li><a>culmen@gmail.com</a> </li>
                </ul>
            </div>
        </div>

        <div class="footer-categorias footer_item flex-row">
            <div class="item_icon">
                <p class="item_footer_option">Categorias</p>
                <i class="fas fa-chevron-down" class="footer-icono-menu-flecha"></i>
            </div>
            <div class="lista-footer">
                <ul>
                    <li> <a href="/products/listarProducts?buscador_home=hombre">Hombres</a> </li>
                    <li> <a href="/products/listarProducts?buscador_home=mujer">Mujeres</a> </li>
                    <li> <a href="/products/listarProducts?buscador_home=niño">Niños</a> </li>
                    <li> <a href="/products/listarProducts?buscador_home=gorra">Gorras</a> </li>
                    <li> <a href="/products/listarProducts?buscador_home=lente">Lentes</a> </li>
                </ul>
            </div>
        </div>

        <div class="footer-ayuda footer_item flex-row">
            <div class="item_icon">
                <p class="ayuda item_footer_option">Ayuda</p>
                <i class="fas fa-chevron-down" class="footer-icono-flecha"></i>
                
            </div>
            <div class="lista-footer">
                <ul>
                    <li>FAQ</li>
                    <li>Medios de Pago</li>
                    <li>Politica de Cambio</li>
                    <li>Envio</li>
                </ul>
            </div>
        </div>

    </section>

    <div>
<section class="redes-sociales">

            <div class="iconos-red-social">
                <i class="fab fa-facebook-f"></i>
            </div>
            <div class="iconos-red-social">
                <i class="fab fa-instagram"></i>
            </div>
            <div class="iconos-red-social">
                <i class="fab fa-twitter"></i>
            </div>

    </section>

    <section class="modos-pago">
            <p>Métodos de pago</p>
            <div>
            <img src="/image/tarjeta-visa.png" alt="Visa"  class="footer-icono-tarjetas">
            <img src="/image/tarjeta-mastercard.png" alt="Mastercard"  class="footer-icono-tarjetas">
            <img src="/image/tarjeta-americanexpress.png" alt="American Express" class="footer-icono-tarjetas">
            <img src="/image/mercadopago.png" alt="Mercado Pago"  class="footer-icono-tarjetas">    
            </div>
            
    </section>

    </div>

    
    
    

    <div class="copyright">
        <p> © All Rights Reserved</p>
    </div>



    <script>

        // Obtener los elementos de los contenedores
        const contactoItem = document.querySelector('.footer-contacto');
        const categoriasItem = document.querySelector('.footer-categorias');
        const ayudaItem = document.querySelector('.footer-ayuda');

        // Obtener los elementos de las listas de cada contenedor
        const listaContacto = contactoItem.querySelector('.lista-footer');
        const listaCategorias = categoriasItem.querySelector('.lista-footer');
        const listaAyuda = ayudaItem.querySelector('.lista-footer');

        // Agregar controladores de eventos a los elementos
        contactoItem.addEventListener('click', () => {
        listaContacto.classList.toggle('mostrar');
        });

        categoriasItem.addEventListener('click', () => {
        listaCategorias.classList.toggle('mostrar');
        });

        ayudaItem.addEventListener('click', () => {
        listaAyuda.classList.toggle('mostrar');
        });

        /* function toggleMenu(id) {
        const menu = document.getElementById(id);
         menu.classList.toggle('mostrar');
} */

    </script>
</footer>