
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" href="/design/images/Logo_Transparente.png" type="image/x-icon" sizes="80x80">
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" /> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    rel="stylesheet" />

    <title>Culmen</title>
    <link rel="stylesheet" href="/css/styles.css">
 
    <%  if(css_files && Array.isArray(css_files)){ %>
    <%  for(let i = 0; i < css_files.length ; i++){  %>
        <link rel="stylesheet" href="/css/<%=css_files[i] %>.css">

   <% } } %>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    </head>