<!DOCTYPE html>
<html lang="en">

    <%-  include('./partials/head.ejs', { css_files: ["compraFinalizada"] })%>

</head>

<body>

    <%- include('./partials/header.ejs') %>

    <main class="main">
        <h2> Felicidades <%= locals.userLogged.name %>  </h2>
        <h2>Su compra se realizó con éxito</h2>
    </main>

        
    <%-  include('./partials/footer.ejs')   %>

</body>
</html>