<!DOCTYPE html>
<html lang="en">

    <%-  include('./partials/head.ejs', { css_files: ["compraFinalizada"] })%>

</head>

<body>

    <%- include('./partials/header.ejs') %>

    <main class="main">
        <h2 class="title"> Felicidades <%= locals.userLogged.name %>  </h2>
        <img src="/image/graciasporsucompra.jpg" alt="" class="gracias">
    </main>

        
    <%-  include('./partials/footer.ejs')   %>

</body>
</html>