<!DOCTYPE html>
<html lang="en">

<%-  include('./partials/head.ejs', { css_files: ["home", "home2"] })%>


<!-- <link rel="stylesheet" href="/css/home.css">
 -->

<!-- </head>
 -->

<body>

    <%- include('./partials/header.ejs') %>

    <!-- SECCION MAIN  -->
    <main class="flex-col">

        <section class="flex-col">

            <!-- AARTICLE IMAGEN PPAL -->
            <article class="article_ppal">
                <img src="/image/trekking.jpg" alt="Cumbre" class="img-principal">
            </article>

            <article class=" article-principal-laptop">
                <img src="/image/trekking.jpg" alt="Cumbre" class="img-principal-laptop">
            </article>

        </section>

        <section class="categories">
            <a href="/products/listarProducts?buscador_home=hombre">
                <img src="/image/men.jpg" alt="men" class="men">
                <p>Hombre</p>
            </a>
            <a href="/products/listarProducts?buscador_home=mujer">
                <img src="/image/women.jpg" alt="women" class="women">
                <p>Mujer</p>
            </a>
            <a href="/products/listarProducts?buscador_home=niño">
                <img src="/image/kids.jpg" alt="kids" class="kids">
                <p>Niños</p>
            </a>
        </section>

        <section class="section-productos flex-col">
            <h3>Recomendados</h3>
            <div class="container-productos flex-col ">
                <article class="producto card">
                    <div class="card2">
                        <img src="/image/pantalon_arena.jpg" alt="" class="img-product">
                        <div class="main-art-prducto">
                            <p><strong class="producto-precio">$22156</strong></p>
                            <p class="producto-nombre"><strong>Pantalon Arena</strong></p>
                        </div>
                    </div>
                </article>

                <article class="producto card">
                    <div class="card2">
                        <img src="/image/pantalon_mawenzi.jpg" alt="" class="img-product">
                        <div class="main-art-prducto">
                            <p><strong class="producto-precio">$59235</strong></p>
                            <p class="producto-nombre"><strong> Pantalon Mawenzi </strong></p>
                        </div>
                    </div>
                </article>

                <article class="producto card">
                    <div class="card2">
                        <img src="/image/calza_ciclon_hombre.jpg" alt="" class="img-product">
                        <div class="main-art-prducto">
                            <p><strong class="producto-precio">$32154</strong></p>
                            <p class="producto-nombre"><strong>Calza Ciclon Hombre</strong></p>
                        </div>

                    </div>
                </article>

                <article class="producto card">
                    <div class="card2">

                        <img src="/image/campera_ergo.jpg" alt="" class="img-product">

                        <div class="main-art-prducto">
                            <p><strong class="producto-precio">$32455</strong></p>
                            <p class="producto-nombre"><strong>Campera Ergo</strong></p>

                        </div>
                    </div>
                </article>
            </div>
        </section>

        <section class="contenedor-main-somos flex-col">

            <div class="main-somos flex-col">
                <img src="/image/about.jpg" alt="" class="img_about_us">
                <div>
                    <h2>Sobre nosotros</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ultricies lacus sed turpis tincidunt. Ipsum suspendisse ultrices gravida dictum fusce ut placerat orci. Morbi blandit cursus risus at ultrices mi tempus. Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Faucibus vitae aliquet nec ullamcorper sit amet risus. </p>
                </div>

            </div>

            <div class="main-registrarse flex-col">
                <h3>¿Aún no tienes una cuenta?</h3>
                <a href="/user/login" class="boton-register"> Registrarse </a>
            </div>

        </section>
    </main>

    <%-  include('./partials/footer.ejs')   %>

</body>
</html>