@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;700 & display=swap');

:root{

/*  PALETA DE COLORES: OPCION RED  */
    --op1-color-primary-rojo: #f93943; 
    --op1-color-secondary-rojo: #d1495b ;
    --op1-color-bg-negro: #1a1423;
    --op1-color-gris-oscuro: #65655e;
    --op1-color-gris-claro: #e1e6e1; 

/* PALETA DE COLORES: OPCION GREEN */
    /* --op2-color-primary-green: #4daa57;  */
   /*  --op2-color-primary-green: #b2eba5;  */
    --op2-color-primary-green: #85cf7e; 
    --op2-color-secondary-ligthblue: #1e96fc; 
    --op2-color-bg-blue-oscuro: #0b0033; 
    --op2-color-gris-oscuro: #616163; 
    --op2-color-gris-claro: #e1e6e1; 
    

/* TIPOGRAFIA PROPUESTA */
    --op1-font-type: 'Roboto', sans-serif;
    /* @import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;700 & display=swap'); */ 
    --op2-font-type: 'Lato', sans-serif;
    /* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap')*/   
}

* {
    box-sizing: border-box  ;
    margin: 0;
    padding: 0;
}

.formulario{
    margin-top: 15px;
}

.title-edit{
    text-align: center;
    color: black;
}

.title-edit strong{
    font-style: oblique;
    color: black;
}

main{
    background-color: #f4f4f4;
    
}


.contenedor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-input{
    align-items: center;
    width: 90%;
}
.contenedor-nombreProdu {
 
    text-align: center;
    margin: 10px;
}

.contenedor-descripcion {
    width: 100%;
    text-align: center;
    margin: 10px;
}

.descripcion {
    padding: 18px 20px;
    padding-top: 27px;
    padding-bottom: 27px;
    border-radius: 50px;
    background-color: #f4f4f4;
    border: 1px solid #292929;
    width: 100%
}

.contenedor-img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin: 10px;
}

.contenedor-img label{
    width: 100%;
}

.contenedor-categorias {
    width: 100%;
    text-align: center;
    margin: 10px;
}

.categorias {
    padding: 5px;
    margin: 5px;
    background-color: transparent;
    color: #292929;
    width: 80%;
    text-align: center;
    border: 1px solid #292929;
}

.contenedor-prendas {
    width: 100%;
    text-align: center;
    margin: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 0px;
    padding-left: 80px;
    align-items: flex-start;
    border: 1px solid #292929;
    border-radius: 10px;
}

.prendas {
   text-align: center;
    margin: 5px;
}

.contenedor-talles {
    width: 100%;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0px;
    padding-left: 100px;
    border: 1px solid #292929;
    border-radius: 10px;
}

.talles {
    text-align: center;
    margin: 10px;
}

.contenedor-precio {
    width: 100%;
    text-align: center;
    margin: 10px;
}

.contenedor-btn{
    width: 100%;
    text-align: center;
    margin: 10px;
}

.btn-crear{
    margin: 10px;
    background-color: #f4f4f4;
    color: #292929;
    border: 1px solid #292929;
    border-radius: 30px;
    padding: 10px 30px;
}

.btn-crear:hover{
    color: white;
    background-color: #292929;
}

.inputstyle{
    background-color: white;
    border: solid #292929 1px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 6px;
    padding: 8px 10px;
    width: 100%;
}

.inputstyle {
    background-color: transparent;
    border: solid #292929 1px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 6px;
    padding: 8px 10px;
    width: 90%;
    font-weight: bold;
    color: #292929;
}

.img {
    font-size: 13px;
    color: #1b262c;
    background-color: #f4f4f4;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 6px;
    padding: 18px 18px 42px;
    box-sizing: border-box;
    border: solid #292929 1px;
    border-radius: 100px;
}

.errors{
    color: red;
}

input:focus, textarea:focus {
    outline: none;
  }
  
input {
    border: 2px solid gray; /* define el borde por defecto */
  }   
  

.isInvalid{
    border: solid red 1px !important;
}

.isValid{
    border: solid green 1px !important;
}

.msg-invalid{
    color: red;
}

/* TABLET */ /* podria ir de 600 a 900px  */
@media (min-width: 481px ) {

}

/* DESKTOP MQ  */ /* de 900 en adelante podria ir */
@media (min-width:769px) {
    main{
        margin-top: 0;
       }
       .formulario{
        width: 70%;
        margin: 0 auto;
       }

       .contenedor{
        flex-direction: column;
       }
       .container-input{
        width: 100%;
        flex-direction: column;
       }

       .contenedor-prendas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 13px;
        color: #1b262c;
        background-color: #f4f4f4;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 6px;
        padding: 18px 18px 42px;
        box-sizing: border-box;
        border: solid #292929 1px;
        border-radius: 100px;
       }
       .categoria-prenda{
        margin: 0px 30px;
       }
       .contenedor-talles{
        flex-direction: row;
        align-items: center;
        font-size: 13px;
        color: #1b262c;
        background-color: #f4f4f4;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 6px;
        padding: 18px 18px 42px;
        box-sizing: border-box;
        border: solid #292929 1px;
        border-radius: 100px;
        
    }
    .inputstyle{
        padding: 18px 20px;
        padding-top: 27px;
        padding-bottom: 27px;
        border-radius: 100px;
        width: 100%;
    }

    .categorias{
        color: #1b262c;
        background-color: #f4f4f4;
        width: 100%;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 6px;
        padding: 18px 18px 42px;
        box-sizing: border-box;
        border: solid #292929 1px;
        border-radius: 100px;
    }

    .btn-crear{
        color: black;
    background-color: #f4f4f4;
    transition-property: background-color, color;
    transition-duration: 0.5s;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    padding: 18px 20px;
    border: solid #292929 1px;
    border-radius: 100px;
    cursor: pointer;
}
    }

    .btn-crear:hover{
        background-color: #292929;

    }

    .title-edit{
        font-size: 40px;
        padding: 40px 0px  ;
    }




