@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;700 & display=swap');

:root{

/*  PALETA DE COLORES: OPCION RED  */
    --op1-color-primary-rojo: #f93943; 
    --op1-color-secondary-rojo: #d1495b ;
    --op1-color-bg-negro: #1a1423;
    --op1-color-gris-oscuro: #65655e;
    --op1-color-gris-claro: #e1e6e1; 

/* PALETA DE COLORES: OPCION GREEN */
    --op2-color-primary-green: #4daa57; 
    --op2-color-secondary-ligthblue: #1e96fc; 
    --op2-color-bg-blue-oscuro: #0b0033; 
    --op2-color-gris-oscuro: #616163; 
    --op2-color-gris-claro: #e1e6e1; 
    

/* TIPOGRAFIA PROPUESTA */
    --op1-font-type: 'Roboto', sans-serif;
    /* @import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;700 & display=swap'); */ 
    --op2-font-type: 'Lato', sans-serif;
    /* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap')*/   
}

* {
    box-sizing: border-box  ;
    margin: 0;
    padding: 0;
}



/*   FOOTER MOBILE FIRST HOME  */

.footer{
    background-color: var(--op2-color-bg-blue-oscuro);
    color: var(--op2-color-gris-claro);
    height: 90vh;
    justify-content: space-between;

}

.main-footer {
    color: var(--op2-color-gris-claro);
    width: 100%;
    justify-content: space-around;
    text-transform: uppercase;
}

.footer_item { 
    border-bottom: 1px solid #ebebeb;
    padding: 15px;
    justify-content: space-between;
}

.lista-footer{
    display: none;
}

/* FOOTER IMAGENES TARJETAS */

.modos-pago {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-self: center;
}

.footer-icono-tarjetas {
    margin: 5px;
    width: 40px;
    height: 25px;
}

/*  FOOTER REDES SOCIALES  */
.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.iconos-red-social {
    margin: 5px;
    font-size: 25px;
    transition: all 0.3s ease 0s;;
}

.iconos-red-social:hover{
    cursor: pointer;
    color: var(--op2-color-primary-green);
    transform: translateY(-7px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/* FOOTER COPYRIGHT  */
.copyright p{
    text-align: center;
    font-size: 12px;

}

.errors{
    color: red;
    font-style: italic;
}

input:focus {
    outline: none;
    border: none; /* define el borde cuando el input tiene foco */
  }
  
  input {
    border: 2px solid gray; /* define el borde por defecto */
  }
  

.isInvalid{
    border: solid red 1px !important;
}

.isValid{
    border: solid green 1px !important;
}

.msg-invalid{
    color: red;
}


