
.container-productos{
    align-items: center;
}

.card{
    width: 65%;
    height: 175px;
}

.img-product{
    width: 80%;
    height: 75%;
    object-fit: contain;
}

.producto-precio, .producto-nombre{
    font-size: 12px;
}

.main-art-prducto{
    display: none;
}

.nav-favorites{
    display: none;
}

.title-favorites{
    margin-top: 30px;
}

button {
    padding: 15px;
    background-color: #f4f4f4;
    border: 1px solid #242424;
    color: #242424;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

button:hover {
    background-color: #292929;
    color: white;
}

.btn-elegir{
    padding: 10px 30px;
    border: 1px solid #292929;
    border-radius: 20px;
    background-color: #f4f4f4;
    color: #292929;
    margin: 15px;
    transition: all ease 0.5s;
    cursor: pointer;
}

.btn-elegir:hover{
    cursor: pointer;
    background-color: #292929;
    color: white;
}

.card2{
    position: relative;
}

.form-delete{
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: transparent;

}

.form-delete button{
    background-color: transparent;
    border-radius: 50%;
    padding: 50%;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    padding-right: 60%;
    padding-left: 60%;
}

.form-delete button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}



@media (min-width: 1024px){
    main{
        display: flex;
        flex-direction: row;
    }

    .section-productos{
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .container-productos{
        margin-top: 5vh;
        flex-direction: row;
        width: 90%;
    }

    .card{
        height: 300px;
        width: 300px;
    }
    .section_profile_user{
        background-color: #f4f4f4;
        width: 20%;
    }

    .profileUser{
        background-color: #f4f4f4;
        height: 90%;
    }

    .nav-favorites{
        display: block;
    }

    .nav-favorites ul{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
        gap: 15px;
        margin-top: 15px;
    }

    .nav-favorites ul li a:hover{
        color: #0b0033;
        border-bottom: 1px solid #0b0033;

    }

    .title-favorites{
        font-size: 16px;
    }

    .btn-elegir{
        font-size: 20px;
        padding: 15px 30px;
    }
}